[Desktop Entry]
Name=BambuStudio Software
Exec=/usr/bin/env BAMBU_RENDER_BACKEND=software /home/per/.local/bin/bambustudio %U
Icon=BambuStudio
Type=Application
Categories=Utility;
MimeType=x-scheme-handler/bambustudio;model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
